html{
    font-size: 100%;
}
body{
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.logo{
    max-width:15rem;
    height: 2rem;
    float:left;
    margin-right: 0.4rem;
}
.navigation{
    margin-top: 2em;
}
.nav-header{
    font-size: 1.1rem;
}
.nav-header-links{
    margin-left: 0.4em;
    margin-top: 0.5em;
    float: left;
    
}
.nav-header-links a{
    padding-right: 1rem;
    text-decoration-line: none;
    color: inherit;
}
.nav-header-links a:hover{
    color: #645cff;
}
.contact-btn{
    float:right;
    margin-top:0.75em;
    background-color:#645cff;
    color: white;
    padding:0.15rem 1rem;
    border-radius: 0.2rem;
}
.contact-btn:hover{
    background-color: #3c3799;
}
.navbar{
    margin-bottom: 2em;
}