html{
    font-size: 100%;
}
body{
    width:75%;
    margin: 0 13.5%;
}
nav{
    margin-top: 2em;
}
.logo{
    float:left;
    margin-top: 0.3rem;
}
.nav-header-links{
    list-style-type: none;
    float:left;
}
.nav-header-links li{
    float: left;
}
.nav-header-links li a{
    text-decoration-line: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: inherit;
}
.nav-header-links li a:hover{
    color: #645cff;
}
.contact-btn{
    float:right;
    margin: 1em 0;
}
.contact-btn a{
    text-decoration-line: none;
    font-size: 1.2rem;
    background-color: #645cff;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
}
.contact-btn a:hover{
    background-color: #3c3799;
}
.header-img img{
    width:100%;
    max-height:80rem;
    margin-top: 3.5rem;
    border-radius: 0.2rem;
    opacity: 1;
}